body {
    color: white;
    font-family: 'Roboto';
    background: radial-gradient(ellipse 500px 700px at 70%, #2B045A, black);
    /*background-image: radial-gradient(circle at 60%, #2B045A, black);*/
    
  }
  a{
    text-decoration:none;
    color: black;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .labelimputs{
    display: flex;
    align-items: center;
    align-items: flex-start;
  }
  
  .labelimputs .form_usuario, .form_clave, .form_correo, .form_nombre, .form_fecha, .form_pais{
    display: flex;
    
  }

  .codigo{
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }

  .codigo button{
    margin-top: 0%;
  }
  h1{
    margin-top: 100px;
    text-size-adjust: 10%;
    font-size: 60px;
  }

  input{
    border-radius: 20px;
    text-align: left;
    text-indent: 10px;
    border: none;
    margin: 15px;
    width: 240px;
    height: 30px;
  }


  .boton{
    font-weight:bold;
    margin-top: 25px;
    font-size: 15px;
    width: 200px;
    height: 35px;
    background-color:#00C194;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  .form_boton{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form_boton .rec{
    font-size: 15px;
    margin-top: 10px;
    color: #858585;
  }